---
layout: default
---

<div class="home">
  <div style="float:right;">
    <a type="button" class="btn btn-success" target="_blank" href="http://feeds.feedburner.com/JtranscBlog">RSS</a>
  </div>

  <h1 class="page-heading">Posts</h1>


<div class="fluid-layout">
  <div class="row">
    {% for post in site.posts %}
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div style="height:350px;overflow:hidden;border:1px solid #eee;margin:12px 4px;padding: 12px;box-shadow: 10px 10px 20px #fcfcfc;">
          <h2 style="margin:0;margin-bottom:16px;font-size:1.8em;">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          {% include postmeta.html %}

          {% if post.icon %}
          <div style="
              height: 80px;
              background-image: url('{{ site.baseurl }}/img/{{ post.icon }}');
              background-size: cover;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              margin-bottom:8px;
          ">
          </div>
          {% endif %}

          <p>
            {{ post.excerpt | strip_html | strip_newlines }}
          </p>
          <p>
            <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
</div>

<script id="dsq-count-scr" src="//jtransc.disqus.com/count.js" async></script>
