---
layout: default
---

{% assign authorInfo = site.data.authors[page.author] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="post-meta">
      <span class="post-meta-chunk">
        <i class="fa fa-calendar" aria-hidden="true"></i> 
        <a href="{{ post.url | prepend: site.baseurl }}">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </a>
      </span>
      {% if page.author %}
      <span class="post-meta-chunk">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a href="{{ authorInfo.link }}" target="_blank">
            <img src="{{ authorInfo.avatar }}" style="border-radius:100%;position:relative;top:-2px;" />
            {{ authorInfo.nick }}
          </a>
        </span>
      </span>
      {% endif %}
      <span class="post-meta-chunk">
        <i class="fa fa-comment-o" aria-hidden="true"></i> <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread" class="disqus-comment-count" data-disqus-identifier="{{ post.id }}">0 Comments</a>
      </span>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_config = function () {
      this.page.url = '{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}';
      this.page.identifier = '{{ page.id }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//jtransc.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
