---
layout: default
---

{% assign post = page %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {% include postmeta.html %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  </div>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_config = function () {
      this.page.url = '{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}';
      this.page.identifier = '{{ page.id }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//jtransc.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
